@import url("https://fonts.googleapis.com/css?family=Balthazar|Roboto&display=swap");
.card, .card #options, .btn-welcome, .btn-loop {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

/* Base */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  margin-top: auto;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: "Balthazar", serif;
}

body {
  background: url(../img/bg_stadium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

/* Layout */
header {
  padding: 10px 0;
  text-align: center;
  border-bottom: 5px solid #66c010;
  background-color: #002145;
  color: #a5acaf;
  z-index: -3;
}

.heading {
  font-size: 48px;
  margin: 10px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.heading::before, .heading::after {
  content: '';
  height: 100%;
  position: absolute;
  display: block;
}

.heading::before {
  background: #002145;
  z-index: -1;
  left: -20px;
  right: -20px;
}

.heading::after {
  background: #66c010;
  width: 100vw;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -2;
}

#app {
  height: 80%;
  margin: 0 auto;
}

footer {
  padding: 10px 0;
  text-align: center;
  border-top: 5px solid #66c010;
  background-color: #002145;
  color: #a5acaf;
}

/* Components */
.by-line {
  font-style: italic;
  font-size: 18px;
  margin: 10px;
}

.social {
  margin: 10px auto;
}

.social-link {
  margin: 10px;
  text-decoration: none;
}

.social-link i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 50%;
  color: #a5acaf;
  background-color: #002145;
  border: 1px solid #66c010;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.social-link i:hover {
  background-color: #00152c;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.card {
  width: 80%;
  min-height: 50%;
  border: 2px solid #002145;
  border-radius: 5px;
  background-color: #a5acaf;
  opacity: 0.95;
  color: #002145;
}

.card #question,
.card #message,
.card #prev-q,
.card #prev-a,
.card #prev-f,
.card #stats {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.card #timer {
  text-align: end;
  margin-right: 20px;
}

.card #timer::before {
  content: 'Time Remaining: ';
}

.card #options {
  width: 80%;
}

.card #nextq-timer {
  text-align: end;
  margin-right: 20px;
}

.card #nextq-timer::before {
  content: 'Next Question In: ';
}

.card #scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.card #correct::before {
  content: 'Correct: ';
}

.card #incorrect::before {
  content: 'Incorrect: ';
}

.card #timed-out::before {
  content: 'Timed Out: ';
}

.card #prev-f::before {
  content: 'Fun Fact: ';
}

.card .prev-img {
  display: block;
  max-height: 300px;
  margin: 10px auto;
  border: 2px solid #002145;
  border-radius: 5px;
}

.btn {
  padding: 8px 16px;
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  display: block;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
  cursor: pointer;
  color: #a5acaf;
  background-color: #002145;
  border: 1px solid #66c010;
  transition: ease-in-out 200ms;
}

.btn:hover {
  background-color: #00152c;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}
