$colors: (
    dark: #002145,
    light: #a5acaf,
    accent: #66c010,
);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Balthazar|Roboto&display=swap');

$heading-font: 'Balthazar', serif;
$body-font: 'Roboto', sans-serif;
