.btn {
    padding: 8px 16px;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;

    display: block;
    transition: ease-in-out 200ms;
    cursor: pointer;

    color: color(light);
    background-color: color(dark);
    border: 1px solid color(accent);

    transition: ease-in-out 200ms;

    &:hover {
        background-color: darken(color(dark), 5);
        transition: ease-in-out 200ms;
    }

    &-welcome,
    &-loop {
        @extend %middle;
    }
}
