.card {
    @extend %middle;

    width: 80%;
    min-height: 50%;

    border: 2px solid color(dark);
    border-radius: 5px;
    background-color: color(light);
    opacity: 0.95;
    color: color(dark);

    #question,
    #message,
    #prev-q,
    #prev-a,
    #prev-f,
    #stats {
        text-align: center;
        font-size: 18px;
        margin: 20px 0;
    }

    #timer {
        text-align: end;
        margin-right: 20px;

        &::before {
            content: 'Time Remaining: ';
        }
    }

    #options {
        @extend %middle;
        width: 80%;
    }

    #nextq-timer {
        text-align: end;
        margin-right: 20px;

        &::before {
            content: 'Next Question In: ';
        }
    }

    #scores {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
    }

    #correct::before {
        content: 'Correct: ';
    }

    #incorrect::before {
        content: 'Incorrect: ';
    }

    #timed-out::before {
        content: 'Timed Out: ';
    }

    #prev-f::before {
        content: 'Fun Fact: ';
    }

    .prev-img {
        display: block;
        max-height: 300px;
        margin: 10px auto;
        border: 2px solid color(dark);
        border-radius: 5px;
    }
}
