header {
    padding: 10px 0;
    min-height: 10vh;
    text-align: center;
    border-bottom: 5px solid color(accent);
    background-color: color(dark);
    color: color(light);
    z-index: -3;
}

.heading {
    font-size: 48px;
    margin: 10px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}
